
#cajadecaja{
    width: 10rem;
    height:13rem ;
}
#color{
    width: auto;
    height: 10rem;
   
}

#boton{
    height: 3rem;
    width: 100%;
}

#gris{
    width: auto;
    height: 10rem;
}

.calc{
    width: auto;
    height: 10rem;
}